In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [7]:
df["MinTemp"].fillna(value=np.mean(df["MinTemp"]),inplace=True)
df["MaxTemp"].fillna(value=np.mean(df["MaxTemp"]),inplace=True)
df["Rainfall"].fillna(value=np.mean(df["Rainfall"]),inplace=True)
#df["WindGustDir"].fillna(value=np.mean(df["WindGustDir"]),inplace=True)
df["WindGustSpeed"].fillna(value=np.mean(df["WindGustSpeed"]),inplace=True)
#df["WindDir9am"].fillna(value=np.mean(df["WindDir9am"]),inplace=True)
#df["WindDir3pm"].fillna(value=np.mean(df["WindDir3pm"]),inplace=True)
df["WindSpeed9am"].fillna(value=np.mean(df["WindSpeed9am"]),inplace=True)
df["WindSpeed3pm"].fillna(value=np.mean(df["WindSpeed3pm"]),inplace=True)
df["Humidity9am"].fillna(value=np.mean(df["Humidity9am"]),inplace=True)
df["Humidity3pm"].fillna(value=np.mean(df["Humidity3pm"]),inplace=True)
df["Pressure9am"].fillna(value=np.mean(df["Pressure9am"]),inplace=True)
df["Pressure3pm"].fillna(value=np.mean(df["Pressure3pm"]),inplace=True)
df["Temp9am"].fillna(value=np.mean(df["Temp9am"]),inplace=True)
df["Temp3pm"].fillna(value=np.mean(df["Temp3pm"]),inplace=True)

In [8]:
df.drop("Evaporation",axis=1, inplace=True)
df.drop("Sunshine",axis=1, inplace=True)
df.drop("WindGustDir",axis=1, inplace=True)
df.drop("WindDir9am",axis=1, inplace=True)
df.drop("WindDir3pm",axis=1, inplace=True)
df.drop("Cloud9am",axis=1, inplace=True)
df.drop("Cloud3pm",axis=1, inplace=True)

In [9]:
def converter(x):
    if(x=="Yes"):
        return 1
    else:
        return 0
    
df["RTom"]=df["RainTomorrow"].apply(converter)
df["RTod"]=df["RainToday"].apply(converter)

In [10]:
data = df.drop(["Date","Location","RainToday","RainTomorrow"],axis=1)

In [11]:
#from sklearn.model_selection import train_test_split
#X=data.drop("RTom",axis=1)
#y=data["RTom"]
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,random_state=101)

In [18]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2)
kmeans.fit(data.drop('RTom',axis=1))

KMeans(n_clusters=2)

In [19]:
kmeans.cluster_centers_

array([[1.32454042e+01, 2.73164824e+01, 4.83472339e-01, 4.26898134e+01,
        1.59392595e+01, 1.96583493e+01, 5.24221694e+01, 3.35496408e+01,
        1.01673840e+03, 1.01389100e+03, 1.95669795e+01, 2.57578401e+01,
        6.65313641e-02],
       [1.14840395e+01, 2.04558852e+01, 3.62876600e+00, 3.82425777e+01,
        1.27631607e+01, 1.79902610e+01, 7.99954420e+01, 6.36874917e+01,
        1.01826551e+03, 1.01617761e+03, 1.52508117e+01, 1.89318955e+01,
        3.22242186e-01]])

In [20]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(data['RTom'],kmeans.labels_))
print(classification_report(df['RTom'],kmeans.labels_))

[[53576 60007]
 [ 4900 26977]]
              precision    recall  f1-score   support

           0       0.92      0.47      0.62    113583
           1       0.31      0.85      0.45     31877

    accuracy                           0.55    145460
   macro avg       0.61      0.66      0.54    145460
weighted avg       0.78      0.55      0.59    145460